<div id="book-edit">
    <h3>Editar Livro</h3>
    <form [formGroup]="bookEditForm" (ngSubmit)="onSubmit()">
        <div>
            <input pInputText ype="text" id="title"  placeholder="Titulo" formControlName="title"  name="title"/>
        </div>
        <div>
            <input pInputText id="author" placeholder="Autor" formControlName="author" name="author"/>
        </div>
        <div id="category"> 
            <p-dropdown  placeholder="Categoria" formControlName="category" [options]="(categories$ | async)!" optionLabel="name"></p-dropdown>
        </div>
        <div id="input-value">
            <span class="p-inputgroup-addon">R$</span>
            <input formControlName="value" type="number" pInputText placeholder="Price" step="0.00" />                
        </div>
        <div id="book-edit-actions">
            <p-button styleClass="p-button-success" [disabled]="!bookEditForm.valid" id="book-register-confirmation" type="submit" >Registrar</p-button>
            <p-button styleClass="p-button-danger" (click)="onCancel()">Cancelar</p-button>
        </div>    
    </form>
</div>
