
#book-edit{

  top: 100%;  
  left: 0;
  width: 25vw; 
  background: white;
  border: 1px solid #ddd;
  padding: 1vw;
  border-radius: 5px;  
  
}
#input-value{
    display: flex;
    flex-direction: row;
}

#input-value input{
    width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.5vw;
}
#book-edit-actions{
    gap: 0.5vw;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

form div{
    display: flex;
    flex-direction: column;
    
}