#book-register{

  top: 100%;  /* se for um popover, abaixo do botão */
  left: 0;
  width: 25vw; /* defina um tamanho fixo ou máximo */
  background: white;
  border: 1px solid #ddd;
  padding: 1vw;
  border-radius: 5px;  /* mais suave e arredondado */
  
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.5vw;
}
#book-register-actions{
    justify-content: end;
    display: flex;
    flex-direction: row;
    gap: 0.5vw;
}
#category{
    display: flex;
    flex-direction: column;
}

#input-value{
    display: flex;
    flex-direction: row;
}

#input-value input{
    width: 100%;
}

form div{
    display: flex;
    flex-direction: column;
}

