<div id="book-register">
    <h3>Registrar Livro</h3>
    <form>
        <div>
            <label for="title">Título:</label>
            <input type="text" id="title" [(ngModel)]="title" name="title"/>
        </div>
        <div>
            <label for="author">Autor:</label>
            <input id="author" [(ngModel)]="author" name="author"/>
        </div>
        <div>
            <label for="category">Categoria:</label>
            <input id="category" [(ngModel)]="category" name="category"/>
        </div>
        <div>
            <label for="value">Valor:</label>
            <input id="value" type="number" [(ngModel)]="value" name="value"/>
        </div>
        <div id="book-register-actions">
            <button id="book-register-confirmation" type="button" (click)="postBook()">Registrar</button>
            <button id="book-register-cancel" (click)="onCancel()">Cancelar</button>
        </div>    
    </form>
</div>
